
  <link rel="stylesheet" href="./assets/stylesheets/new.css">
    <h1>Thêm Sản Phẩm</h1>
    <div class="container">
      <div class="form-container">
        <%= render "form", product: @product %>
        <%= link_to "Hủy bỏ", products_path %>
      </div>
    </div>
