# app/views/layouts/mailer.html.erb
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      /* Các kiểu dáng email cần phải được viết nội tuyến */
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
